

button{
    cursor: pointer;
}

#archive {
    background-color: #EF601E;
    color: white;
    text-transform: uppercase;

}

#submit, .edit {
    background-color: #A9683D;
    color: white;
}

/* responded */
.responded {
    transition: 0.4s;
    border-color: rgba(88, 183, 205, .9);
  }
  .responded label {
    transition: 0.4s;
    color: rgba(88, 183, 205, 1);
  }